@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source "../../resources/**/*.blade.php";
@source "../../resources/**/*.js";
@source "../../resources/**/*.vue";

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

@theme {
    --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;

    /* == PALET WARNA == */
    --color-brand-dark: #4c1d95;
    --color-brand-purple: #8A61FF; 
    --color-brand-teal: #5DCBD3;

    /* Background Khusus Hero */
    --color-bg-left: #F6F1FD;
    /* UPDATE: Warna kanan digelapin (Lebih Deep Purple) */
    --color-bg-right: #D0BFFF; 

    /* ANIMASI MARQUEE */
    --animate-infinite-scroll: infinite-scroll 25s linear infinite;

    @keyframes infinite-scroll {
        from { transform: translateX(0); }
        to { transform: translateX(-100%); }
    }
}
